<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header id="header"></header>

<main>
  <header>
    <h1> 첫번째 글 </h1>
  </header>

  <aside>
    <p><span class="nick-name">Kim</span></p>
    <p><a href="kimmyungho1003@naver.com">kimmyungho1003@naver.com</a></p>
    <p><time datetime="2022-09-0701T00:00:00"></time> </p>
    <p><span class="Hashtag">#java</span> </p>
  </aside>

  <section>
    <p>본문<br><br></p>

    <div>
      <form>
        <label for="articleComment" hidden>댓글</label>
        <textarea id="articleComment" placeholder="Reply Write" rows="3">
        </textarea>
        <button type="submit">Reply Write</button>
      </form>

      <ul>
        <li>
          <div>
            댓글 리스트 출력
          </div>
        </li>
      </ul>
    </div>

    <nav>
      <a href="#">이전 글</a>
      <a href="#">다음 글</a>
    </nav>
  </section>
</main>

<footer id="footer"></footer>
</body>
</html>